<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>OSWELL</title>
        <link type="text/css" rel="stylesheet" href="/css/welcome.css">
        <script src="https://kit.fontawesome.com/03072761fd.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section class="main">
            <div class="image-container">
                <div class="image">
                    <img src="/images/cloud.gif" alt="image">
                </div>
                <br>
                <h1> O  S  W  E  L  L </h1>
                <p>Ordinary Systems of a Well Established Language Library</p>

            </div>
        </section>

    </body>
</html>